.venv
.idea
__pycache__/
*.pyc
.env
.DS_Store
restored/
uploads/

# Local data folders
/train_1/
/train_1_destructed/
/train_1_mask/
/test/
/test_destructed/
/test_mask/

# Sensitive files
*.json
!pyproject.toml
!package.json

# Models and large files
/big-lama/
/lama/models/
*.ckpt
*.pth
*.h5

# OS specific
Thumbs.db
.DS_Store
